// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 1440px
$navbar-vertical-padding = 0.7rem
$navbar-horizontal-padding = 2.5rem

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// New colors
$accentColor = #00AAAA
$accent = #00AAAA
$tip = #42b983
$warning = #e7c000
$error = #c00
$counterAccent = #fff
$bg1 = #242424
$bg2 = #191919
$bg3 = #111111
$nav = #050505
$footer = #4D4D4D
$text1 = #EBEBEB
$text2 = #D3D3D3
$text3 = #9B9B9B

:root {
  --accent: $accent
  --accentLight10: lighten($accent, 10%)
  --accentDark10: darken($accent, 10%)
  --counterAccent: $counterAccent

  --tip: $tip
  --warning: $warning
  --error: $error

  --primaryBG: $bg1
  --secondaryBG: $bg2
  --tertiaryBG: $bg3
  --navbar: $nav
  --footer: $footer
  --text: $text1
  --secondaryText: $text2
  --tertiaryText: $text3
}